{% extends 'layout.html.twig' %}

{% block title %}Вход{% endblock %}



{% block right_header_pane %} <a href="{{path("app_signup")}}" class="navl-link" id="login-button">Регистрация</a> {% endblock %}
 
{% block app %}

<div class="wrapper">
<login_form></login_form>
</div>

{% endblock %}


