{% extends 'layout.html.twig' %}

{% block title %}Регистрация{% endblock %}

{% block right_header_pane %} <a href="{{path("app_login")}}" class="navl-link" id="login-button">Вход</a> {% endblock %}

{% block app %}
  <div class="wrapper">

<signup_form></signup_form>

    </div>   
{% endblock %}
