{% extends 'layout.html.twig' %}


{% block title %}
    Главная
{% endblock %}


   


{% block scripts_include %}
    <script src="{{asset('js/opennav.js')}}" type="text/javascript"></script>
   
{% endblock %}

{% block header %}
    <button id="opennav" class="btn btn-outline-dark text-white" onclick="openNav()">&#9776;</button>
    {{ parent() }}
{% endblock %}


{% block body%}

    <div class="sidebar-container">

        
        <div class="sidebar-logo">
            Разделы
        </div>
        

        <ul class="sidebar-navigation">

            <li >
                <a href="/books">
                    <i aria-hidden="true"></i> Книги
                </a>
            </li>

            <li>
                <a  href="/authors">
                    <i aria-hidden="true"></i> Авторы
                </a>
            </li>
            
            <li>
                <a  href="/genres">
                    <i aria-hidden="true"></i> Жанры
                </a>
            </li>

        
        </ul>

        <form id="side-search" class="search" >
             <input class="form-control search-field" type="search" onkeyup="find(1)" placeholder="Поиск" aria-label="Search">
        </form>

    </div>



{% endblock %}


{% block content %}

    <h2 id='headline' h2>
        Последние добавленные книги
    </h2>
            
    <book_list></book_list>
            
{% endblock %}