{% extends 'layout.html.twig' %}



{% block title %} Новый жанр {% endblock %}



{% block app %}


    <div class="wrapper">
   
        <genre_form>
        </genre_form>

    </div>

            
{% endblock %}