{% extends 'layout.html.twig' %}



{% block title %} Новый автор {% endblock %}



{% block app %}


    <div class="wrapper">
   
        <author_form>
        </author_form>

    </div>

            
{% endblock %}